<html>
  <head>
    <meta charset="utf-8">
    <title>Bakery</title>
  </head>
  <body>
    <h1>Bakery</h1>
    <ul>
      <li><a href="/cakes">Cakes</a></li>
      <li><a href="/pies">Pies</a></li>
    </ul>
  </body>
</html>
