
<html>
<%- include('../head'); -%>
<body>
  <h1>Cakes</h1>
  <ul>
    <%_ for (const pie of pies) { -%>
      <li><a href="/pies/<%= pie.id -%>"><%= pie.flavor -%></a></li>
    <%_ } -%>
  </ul>
</body>
</html>
